body {
  margin: 0;
  padding: 51px 0 0 0;
  width: 100%;
  height: 100%;
  display: table;
  font-weight: 100;
  background:#EEF0F3;
}

/* Button & typography mods */
.btn-spacer-left {
  margin-left:8px;
}
.text-danger { color: #DA4B4B; }
.bold { font-weight:bold; }
.pointer { cursor:pointer; }

/* Logos */
.logo-lg {
  width:300px;
  height:68px;
  margin:0 auto 50px auto;
  background:url('img/logos/aecore-lg.svg') 0 0 no-repeat;
  display:block;
}

/* Top Bar */
.navbar {
  background:#FFF;
  border-bottom:1px solid #ccc;
  box-shadow: 0 1px 1px 0px hsla(0,0%,0%,.1);
}
.navbar-brand {
  height:30px;
  width:102px;
  margin:10px 10px 0 0;
  background:url('img/logos/aecore-topbar.svg') 0 0 no-repeat;
  display:inline-block;
}
@media (max-width: 767px) {
  .navbar-brand {
    height:30px;
    width:30px;
    margin:10px 10px 0 15px;
    background:url('img/logos/aecore-icon.svg') 0 -30px no-repeat;
    display:inline-block;
  }
}

/* Top Bar Links */
.navbar-nav > li > a {
  padding:15px 10px 12px 10px;
  color:#DA4B4B;
  border-bottom:3px solid #FFF;
}
.navbar-nav > li > a.navbar-link:hover {
  color:#DA4B4B;
  border-bottom:3px solid #DA4B4B;
  transition: border-color 0.2s linear;
      -moz-transition: border-color 0.2s linear;    /* FF3.7+ */
      -o-transition: border-color 0.2s linear;      /* Opera 10.5 */
      -webkit-transition: border-color 0.2s linear; /* Saf3.2+, Chrome */
}
.navbar-nav > li > a.navbar-link-active {
  color:#DA4B4B;
  border-bottom:3px solid #DA4B4B;
  font-weight:bold;
}
.navbar-nav > li > a.navbar-link-active:hover {
  color:#DA4B4B;
  border-bottom:3px solid #DA4B4B;
  transition: border-color 0.2s linear;
      -moz-transition: border-color 0.2s linear;    /* FF3.7+ */
      -o-transition: border-color 0.2s linear;      /* Opera 10.5 */
      -webkit-transition: border-color 0.2s linear; /* Saf3.2+, Chrome */
}

/* Avatars */
.avatar_upload {
  margin-left:90px;
}
.avatar_xs {
  width:20px;
  height:20px;
  margin:0 5px 0 0;
  border-radius:2px;
  float:left;
}
.avatar_sm {
  width:34px;
  height:34px;
  margin:0 8px 0 0;
  border-radius:3px;
  float:left;
}
.avatar_md {
  width:40px;
  height:40px;
  border-radius:3px;
  float:left;
}
.avatar_lg {
  width:75px;
  height:75px;
  border-radius:3px;
  float:left;
}
.avatar_company {
  width:32px;
  height:32px;
  margin-right:5px;
  float:left;
}
.logo_company {
  max-width:200px;
  max-height:75px;
  margin-bottom:15px;
}
.avatar_nav {
  width:28px;
  height:28px;
  margin:-5px 5px 0 0;
  border-radius:14px;
  float:left;
}
@media (max-width: 767px) {
  .navbar-username {
    display:none;
  }
  .avatar_xs {
    margin:0;
    float:none;
  }
}

/* Page heading */
.pagehead {
  padding:15px 0;
}
.pagehead h1 {
  padding:0;
  margin:0;
  font-size:20px;
  font-family: 'Lato', Arial, sans-serif;
  line-height:30px;
  color:#777;
  text-shadow:1px 1px #FFF;
}

/* Panels */
.panel-default > .panel-heading {
  color:#999;
  border-bottom:1px solid #ddd;
  background:#FFF;
  text-transform: uppercase;
  font-size:0.9em;
}
.panel-danger > .panel-heading {
  font-weight:normal;
  text-transform: uppercase;
  font-size:0.9em;
}
a.list-group-item {
  padding:12px 10px;
  font-size:0.9em;
  line-height:0.9em;
}
.list-group-item.selected:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 3px;
  content: "";
  background-color: #DA4C4B;
}
.list-group-item.selected {
  color:#DA4C4B;
}