/* Textbox */
.leaflet-illustrate-textbox {
  overflow: hidden;
  padding: 3px;
  resize: none;
  border:none;
  color: red;
  background:none;
}
.leaflet-illustrate-textbox:focus {
  border: 1px solid red;
  outline:none;
}
.leaflet-illustrate-textbox-empty {
  background:#f7f7f7;
  border:2px dashed #ccc;
}
.leaflet-illustrate-textbox-container {
  background:none;
}
